*{
  overflow:hidden;
  padding:0;
  margin:0;
}
body{
  overflow:hidden;
  background-image:linear-gradient(to right,#6a3093,#a044ff);
  color:#fff;
}
a{
text-decoration:none;
color:#fff;
}
#cnv{
  background-color:#fff;
  border:3px solid black;
  transform:translate(-50% -50%);

}
#color{
  border-radius:30px;
}
button{
  width:35px;
  height:35px;
  border-radius:75px;
};
#brush{
  width:35px;
  border-radius:75px;
} 
.in{
  position:relative;
  top:5;
}
p{
  display:inline;
}
input:nth-child(1){
  position:relative;
  top:6px;
  width:30px;
  height:30px;
  border-radius:75px;
}
input:nth-child(2){
  width:30px;
  height:30px;
  border-radius:75px;
}
button{
  position:relative;
  top:-5px;
}
button:nth-child(1):hover{
  background-color:grey;
}
button:nth-child(2):hover{
  background-color:grey;
}
